[submodule "Remote-PC-Monitoring-Tool/server/cpp-httplib"]
	path = Remote-PC-Monitoring-Tool/server/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "Remote-PC-Monitoring-Tool/server/json"]
	path = Remote-PC-Monitoring-Tool/server/json
	url = https://github.com/nlohmann/json
